/* Loader animation */

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Alert Box */
.alert-box {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    top : 70px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Button to dismiss */
.dismiss-btn {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.alert-box.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}
.alert-box.primary {
    background-color: #d4dded;
    color: #153e57;
    border-color: #c3cfe6;
}
.alert-box.danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-box.warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.dismiss-btn.success {
    color: #155724;
}
.dismiss-btn.danger {
    color: #721c24;
}
.dismiss-btn.primary {
    color: #1c4472;
}
.dismiss-btn.warning {
    color: #856404;
}
.dismiss-btn.success:hover {
    color: #239a3e;
}
.dismiss-btn.danger:hover {
    color: #a94442;
}
.dismiss-btn.warning:hover {
    color: #cf9f0d;
}