.skeleton-category:empty {
    position: relative;
    height: 250px;
    background-color: #ffffff;
    background-image: linear-gradient(#cccccc 40px, transparent 0), linear-gradient(#cccccc 10px, transparent 0), linear-gradient(#cccccc 10px, transparent 0), linear-gradient(#cccccc 10px, transparent 0), linear-gradient(#cccccc 60px, transparent 0), linear-gradient(#cccccc 10px, transparent 0);
    background-repeat: repeat-y;
    background-size: 40px 500px, 200px 500px, 240px 500px, 250px 500px, 60px 500px, 150px 500px;
    background-position: left 350px top 30px, left 40px top 180px, left 40px top 140px, left 40px top 100px, left 330px top 130px, left 40px top 40px;
}

.skeleton-category:empty:before {
    content: ' ';
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 250px;
    -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.66) 50%, rgba(255, 255, 255, 0) 80%);
    -webkit-mask-repeat: repeat-y;
    -webkit-mask-size: 50px 500px;
    -webkit-mask-position: -20% 0;
    background-image: linear-gradient(rgba(102, 102, 102, 1) 40px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 10px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 10px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 10px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 60px, transparent 0), linear-gradient(rgba(102, 102, 102, 1) 10px, transparent 0);
    background-repeat: repeat-y;
    background-size: 40px 500px, 200px 500px, 240px 500px, 250px 500px, 60px 500px, 150px 500px;
    background-position: left 350px top 30px, left 40px top 180px, left 40px top 140px, left 40px top 100px, left 330px top 130px, left 40px top 40px;
    animation: shineForSkeleton-category 2s infinite;
}

@keyframes shineForSkeleton-category {
    to {
        -webkit-mask-position: 120% 0
    }
}