@-webkit-keyframes loading {
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
    to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
    to { transform: rotate(360deg); }
}

/* Loader (*/
#loading {
    margin-top: 3px;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;

    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #777;
    border-left: 4px solid #777;

    -webkit-animation: loading 1.2s infinite linear;
    -moz-animation: loading 1.2s infinite linear;
    -ms-animation: loading 1.2s infinite linear;
    animation: loading 1.2s infinite linear;
}

.loading-navbar {
    margin-top: -2.5%;
    margin-left: 33%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;

    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #777;
    border-left: 4px solid #777;

    -webkit-animation: loading 1.2s infinite linear;
    -moz-animation: loading 1.2s infinite linear;
    -ms-animation: loading 1.2s infinite linear;
    animation: loading 1.2s infinite linear;
}
.loadingClass {
    width: 14px!important;
    height: 14px!important;
}
#parent_loading {
    width: 60px;
}
.errorInvalidMessages {
    font-family: 'Switzer', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #bf3959;
}
.borderStyleGrey {
    border : 1px solid #E9EBEC;
    border-radius: 4px;
}
.borderStyleInvalid {
    border : 1px solid #EF476F;
    border-radius: 4px;
}
.circleDelete {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.insideCircleBtn{
    margin-left: -9px!important;
    margin-top: -10px!important;
}
.sticky-footer-delete {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust this value to set the height of the sticky footer */
}
.borderStyleSelectedRed{
    border : 2px solid #ff0000;
    border-radius: 4px;
}
.borderStyleSelectedBlack{
    border : 1px solid #000000 !important;
    border-radius: 4px;
}
.selectedSize{
    color: white;
    background-color: #4484E6;
    border : 1px solid #000000 !important;
}
.borderStyleSelectedBlue{
    border : 1px solid #4484E6 !important;
    border-radius: 4px;
}